.uk-navbar{
     background:rgb(24, 23, 23);
}

.blueText{
    color: #00CFFF;
}

#whiteText{
    color: white;
}

#logout-button{
    background-color: rgb(24, 23, 23);
    color: rgb(228, 19, 19);
    margin: 10px;
    margin-bottom: 10%;
    font-size: 18px;
}

#register-button{
    background-color: rgb(24, 23, 23);
    color: rgb(242, 17, 43);
    margin: 10px;
    margin-bottom: 10%;
}

#header{
    border-bottom: 10px ridge #151515;
    margin-bottom: 10px;
}

.typed-cursor{
    opacity: 1;
     font-size: 5rem;
     color:#00CFFF;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
   

}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
