@(title: String)(css: Html)(content: Html)

<!DOCTYPE html>

<html>
<head>

<title>@title</title>
<script src="@routes.Assets.at("uikit/js/jquery.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit/css/uikit.min.css")">
<script src="@routes.Assets.at("uikit/js/uikit.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/js/typed.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("uikit/js/components/slideshow.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("uikit/js/components/slideshow-fx.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@routes.Assets.at("uikit/css/components/slideshow.css")">
<link rel="stylesheet" href="@routes.Assets.at("uikit/css/components/slidenav.css")">
@css
</head>
<body style=" background: url(@routes.Assets.at("images/cover-header.jpg"));
	background-size: 100% 50%;
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;">
<!-- head -->
<nav class="uk-navbar" style="background-color: black;">
    <ul class="uk-navbar-nav">
    	<li><a href="#my-id" class="uk-navbar-toggle" data-uk-offcanvas></a></li>
        <li><a class="uk-text-large" style="color: #00CFFF" href="/"><b>eXceed</b> vote</a></li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a class="uk-text-large" style="color: #00CFFF" href="#"><b>sign</b> out</a></li>
        </ul>
    </div>
</nav>
<div id="my-id" class="uk-offcanvas  uk-text-center " style="padding-top: 100%;">
		<div class="uk-offcanvas-bar ">
			...
		</div>
</div>
<!-- end head -->
<!-- content -->
@content

<br>
<br>
<nav class="uk-navbar" style="background-color: black;">
    <ul class="uk-navbar-nav">
    	<li></li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li class="uk-text-medium" style="color: #00CFFF" href="#"><b><--Developed by :</b> Ping Kai Studio--></li>
        </ul>
    </div>
</nav>
</body>
</html>
