
@(team:Team)(listcriteria:List[Rate_Criteria])(listcategory:List[Vote_Categories])(listAccount:List[Account])(currentRate:List[Integer])(currentVote:List[Integer])(account:Account)

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/team.css")">
    <script src="@routes.Assets.at("ckeditor/ckeditor.js")"></script>
}
@index("eXceed Vote")(css){
    <!-- content -->
    <script>
    function star(id) {
        var str = id.split("-");
        var j;
        for(j = 1; j <= 5; j++){
            document.getElementById(str[0]+"-"+j).style.color = "white";
        }
        var i;
        for (i = 1; i <= parseInt(str[1]); i++) {
            document.getElementById ( str[ 0 ] + "-" + i ).style.color = "#00CFFF" ;
        }
        document.getElementById("value-"+str[0]).value = str[1];
    }


    function post(){
    var i=0;
    var text="";
    text+= "\""+"teams_id"+"\""+": "+ "\""+@team.ID+"\"";
   @listcriteria.map{ criteria=>

    var value_i = document.getElementById("value-@criteria.criteria_name").value;
    text += ",\""+"@criteria.ID"+"\""+": "+ "\""+value_i+"\"";

    }
    var obj =jQuery.parseJSON('{'+text+'}');
    $.post( "/rate_receive" , obj , function( data ){});
    window.location.replace ( "@routes.Application.main()" );
    }

    function post_vote(category){
        alert("You have voted this project for category : "+category);
        var i=category+"";
        var text="";
        text+= "\""+"teams_id"+"\""+": "+ "\""+@team.ID+"\"";
        text += ",\""+"category"+"\""+": "+ "\""+i+"\"";
        var obj =jQuery.parseJSON('{'+text+'}');
        $.post( "/vote_receive" , obj , function( data ){});
        document.getElementById(category).style.color="rgb(242, 17, 43)";
    }


    </script>
    <!-- <div class="uk-width-1-1" style="padding-top: 10%; background: url(@routes.Assets.at("images/cover-header.jpg"));"> -->
    <div class="uk-vertical-align-middle uk-text-center uk-width-1-1" style="padding-bottom:25px;padding-top:3% ;background-size:100%">
        <div class="uk-width-1-1-2" id="slide" >
            <div class="uk-slidenav-position" style="height: 100%; width:100%;" data-uk-slideshow="{animation: 'swipe'}" >
                <ul class="uk-slideshow">
                    <li><img src="/assets/images/Team@team.team_name/2.jpg"></img></li>
                    <li><img src="/assets/images/Team@team.team_name/3.jpg"></img></li>
                </ul>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba( 255,255,255,0.4)"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4);" ></a>
            </div>
        </div>
    </div>

    <!-- </div> -->
    <div id = "projectanddescription" class="uk-container-center uk-text-center">
        <div class="uk-text-large whiteText"> 
        <b id="projectName">@team.project_name</b>
        <br><br>
        <b id="teamName">by @team.team_name</b> 
        <h2 id="DescriptionHeading">Description</h2>
        @Html(team.description)
        <p id="projectDescription"></p>
        </div>


        <div class="uk-text-large whiteText" >
            <!-- <b>Rate</b><br> -->
            <div id="rating">
             @if(listcriteria.size!=0){
                 <div style="color:#00CFFF"><b>Rate</b></div>
            }
                 @listcriteria.map{ criteria =>
                   <!-- separate this div into three smaller columns -->
                   <div class="smallcol">
                   <span class="blueText"> @criteria.criteria_name </span>
                   </div>
                   
                   <div class="col">
                   <input type="hidden" id="value-@criteria.criteria_name" value="0"></input>
                    @for(i <- 1 to 5){
                        <a class="uk-icon-star" id="@criteria.criteria_name-@i" style="color:white" onclick="star(this.id)"></a>
                    } 
                    </div>

                    <div class = "smallcol">
                    <a id="@criteria.criteria_name-0" style="color: #00CFFF" onclick="star(this.id)" >no Rate</a>
                    </div>
                    <br>
                }
            </div>
            <!-- <b>Vote</b><br> -->
            @if(listcategory.size!=0){
                <div style="color:#00CFFF;"><b>Vote</b></div>
            }
            @listcategory.map{ category=>
                <a id="@category.categories_name" onclick="post_vote(this.id)">@category.categories_name</a>
                <span id="@category.categories_name-check" style="position: absolute;"></span>
                <br>
            }
        </div>
        <br>
        @if(account.`type`==2) {
        <a class = "uk-button uk-button-primary uk-button-danger" href = "/editteam/ @team.ID ">Edit Team</a>
        }
        <button class="uk-button uk-button-primary" type="submit" id="submitBtn" onclick="post()" > Submit </button>

        <div class="uk-text-large uk-margin-bottom uk-margin-top whiteText">
             @if(listAccount.size!=0){
                <div style="color:#00CFFF;"><b>Members</b></div>
            }
                @listAccount.map{ account=>
                    <div>@account.name @account.lastname @account.studentID</div>

                }

        </div>
        <form>
            <div><b class="uk-text-large blueText">Comment</b><br>
                <textarea id="form-s-t" cols="30" rows="5" placeholder="Comment Team"></textarea>
                
            </div>
            <div>
                <button class="uk-button uk-button-primary" type="button">Comment</button>
            </div>
        </form>
        <br>
    </div>

    <script>
        @if( currentRate.size != 0){
            @listcriteria.map{ criteria =>
                star( "@criteria.criteria_name-@currentRate.get(criteria.ID.toInt-1)" );
            }
        }
        @if( currentVote.size != 0 ){
            @currentVote.map{ current =>
                document.getElementById("@listcategory.get(current-1).categories_name").style.color="rgb(242, 17, 43)";
                document.getElementById("@listcategory.get(current-1).categories_name-check").className="uk-icon-check";
            }
        }
    </script>
}(account)

