@(team:Team)(listcriteria:List[Rate_Criteria])
@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/team.css")">    
}
@index("eXceed Vote")(css) {
    <!-- content -->
    <script>

    function star(id) {
    var str = id.split("-");
    var j;
    for(j = 1; j <= 5; j++){
    document.getElementById(str[0]+"-"+j).style.color = "white";
    }
    var i;
    for (i = 1; i <= parseInt(str[1]); i++) {
    document.getElementById ( str[ 0 ] + "-" + i ).style.color = "yellow" ;
    }

        document.getElementById("value-"+str[0]).value = str[1];



    }


    function post(){
    //console.log(1+1);
    var i=0;
    var text="";
    text+= "\""+"teams_id"+"\""+": "+ "\""+@team.ID+"\"";
   @listcriteria.map{ criteria=>

    var value_i = document.getElementById("value-@criteria.criteria_name").value;
    text += ",\""+"@criteria.ID"+"\""+": "+ "\""+value_i+"\"";

    }
    console.log(text);

    var obj =jQuery.parseJSON('{'+text+'}');
    $.post( "/rate_receive" , obj , function( data ){});
    console.log(obj);
     window.location.replace ( "@routes.Application.main()" );
    }


    </script>

    <div class="uk-vertical-align-middle uk-text-center uk-width-1-1" style="padding-bottom:5%; background-size:100%">
        <div class="uk-width-1-1-2" id="slide">
            <div class="uk-slidenav-position" style="height: 100%; width:100%;" data-uk-slideshow="{animation: 'swipe'}" >
                <ul class="uk-slideshow">
                    <li><img src="@routes.Assets.at("images/test1.jpg")"></img></li>
                    <li><img src="@routes.Assets.at("images/test2.jpg")"></img></li>
                </ul>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba( 255,255,255,0.4)"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4);" ></a>
            </div>
        </div>
    </div>
    <div class="uk-container-center uk-text-center">
        <div class="uk-text-large" id="whiteText">  <b>@team.team_name</b> <br> Description : @team.description </div>
        <div class="uk-text-large" id="whiteText">

             @listcriteria.map{ criteria =>
               <span id="blueText"> @criteria.criteria_name: </span>
               <input type="hidden" id="value-@criteria.criteria_name" value="0"></input>

                    @for(i <- 1 to 5){
                        <a class="uk-icon-star" id="@criteria.criteria_name-@i" style="color:white" onclick="star(this.id)"></a>
                    } <a id="@criteria.criteria_name-0" style="color: #00CFFF" onclick="star(this.id)" >no vote</a>
            <br>
            }
        </div>
        <br>
        <button class="uk-button" type="submit" id="submitBtn" onclick="post()"> Submit </button>
        <div class="uk-text-large uk-margin-bottom uk-margin-top" id="whiteText">
                1.) gu saint 123<br>
                1.) gu saint 123<br>1.) gu saint 123<br>1.) gu saint 123<br>
        </div>
        <form>
            <div id="whiteText"><h3 class="uk-text-large">COMMENT</h3><br>
                <textarea id="form-s-t" cols="30" rows="5" placeholder="Comment Team" style="margin: 0px; width: 508px; height: 147px;"></textarea>
                
            </div>
            <div>
                <button class="uk-button" type="button">Comment</button>
            </div>
        </form>
        <br>
    </div>
}