@css = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mainVote.css")">
}
@index("Vote")(css){
    <div class="uk-text-center">
            <div style="color:WHITE;">
                Vote
            </div>
        </div>
        <div class="uk-grid">
        <div class="uk-container-center">

            <ul class="uk-tab uk-text-center" data-uk-tab="{connect:'#tab-content'}">
                <li class="uk-active"><a href="#">
                    Tab1
                </a></li>

                <li class=""><a href="#">
                    Tab2
                </a></li>

                <li class=""><a href="#">
                    Tab3
                </a></li>

                <!-- <li class="uk-tab-responsive uk-active uk-hidden">
                    <a>
                    Tab4
                    </a> -->
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                        </ul>
                        <div>
                        </div>
                    </div>
                <!-- </li> -->
            </ul>

            <ul id="tab-content" class="uk-switcher uk-margin uk-text-center">
            <li class="">
                <div><ul class="uk-list uk-list-line" >
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group1
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group2
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group3
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>

                </ul><div>
            </li>
            <li class="">
                <div><ul class="uk-list uk-list-line" >
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group1
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group2
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group3
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>

                </ul><div>
            </li>
            <li class="">
                <div><ul class="uk-list uk-list-line" >
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group1
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group2
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid uk-text-center">
                            <div class="uk-width-1-3">
                                <img src="@routes.Assets.at("images/blue.jpg")" width="200" height="300">
                            </div>
                            <div class="uk-width-1-3">
                                <div class="" style="margin-top:25%">
                                    <div class="" id="group">
                                        Group3
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <button class="uk-button-primary" type="button" style="margin-top:25%">Submit</button>
                            </div>
                        </div>
                    </li>

                </ul><div>
            </li>
            </ul>

        </div>
        </div>

    }